<template>
    <style>

     
    </style>
  
    <fieldset>
        <legend>Produto</legend>
        <div class="inline">
            <label for="btnBuscaProd">Descrição: </label>
            <div class="edtbtn">
                <input type="text" id="edtBuscaProd" readonly>
                <button id="btnBuscaProd" class="btn-round"><span class="mdi mdi-magnify"></span></button>
            </div>
            </div>
        <div class="inline">
            <label for="edtQtd">Qtd:</label>
            <input type="text" id="edtQtd" onkeyup="valFloat(this)" onfocus="this.select();" value="0" inputmode="decimal">
        </div>
        <div class="inline">
            <label for="edtCusto">Custo: R$</label>
            <input type="text" id="edtCusto" onkeyup="valFloat(this)" onfocus="this.select();" value="0.00" inputmode="decimal">
        </div>
        <div class="line">
            <button id="btnAdd">Adicionar</button>
        </div>


    </fieldset>

</template>
<script>

    const pageData = main_data.adm_compras.data
    const pageFunc = main_data.adm_compras.func
    const pageScreen = document.querySelector('#card-adm_compras')
     
    pageScreen.querySelector('#btnBuscaProd').addEventListener('click',()=>{
        openHTML('busca_prod.html','pop-up','Selecione o Produto',{'org':'adm_compras'})
    })

    pageFunc.buscaProd = (data)=>{
        const edt = pageScreen.querySelector('#edtBuscaProd')
        edt.value = data.descricao.toUpperCase()
//        console.log(data)
    }

</script>