<template>
    <style>

     
    </style>
  
    <fieldset>
        <legend>Produto</legend>
        <div class="inline">
            <label for="btnBuscaProd">Descrição:* </label>
            <div class="edtbtn">
                <input type="text" id="edtBuscaProd" readonly>
                <button id="btnBuscaProd" class="btn-round"><span class="mdi mdi-magnify"></span></button>
            </div>
            </div>
        <div class="inline">
            <label for="edtQtd">Qtd:*</label>
            <input type="text" id="edtQtd" onkeyup="valFloat(this)" onfocus="this.select();" value="0" inputmode="decimal">
        </div>
        <div class="inline">
            <label for="edtCusto">Valor Unitário:* R$</label>
            <input type="text" id="edtCusto" onkeyup="valFloat(this)" onfocus="this.select();" value="0.00" inputmode="decimal">
        </div>
        <div class="line">
            <button id="btnAdd">Adicionar</button>
        </div>


    </fieldset>

</template>
<script>

    const pageData = main_data.adm_compras.data
    const pageFunc = main_data.adm_compras.func
    const pageScreen = document.querySelector('#card-adm_compras')
    const newComp = Object.keys(pageData).length == 0 

    pageFunc.start = ()=>{
        pageData.id = newComp ? 0 : pageData.id
    }


    pageScreen.querySelector('#btnBuscaProd').addEventListener('click',()=>{
        openHTML('busca_prod.html','pop-up','Selecione o Produto',{'org':'adm_compras'})
    })

    pageFunc.buscaProd = (data)=>{
        const edt = pageScreen.querySelector('#edtBuscaProd')
        edt.data = data
        edt.value = data.descricao.toUpperCase()
    }

    pageScreen.querySelector('#btnAdd').addEventListener('click',()=>{
        if(checkField(['edtBuscaProd','edtQtd','edtCusto'])){
            const params = new Object;
                params.id = pageData.id
                params.id_prod = pageScreen.querySelector('#edtBuscaProd').data.id
                params.qtd = pageScreen.querySelector('#edtQtd').value
                params.custo_unit = pageScreen.querySelector('#edtCusto').value
            
            const myPromisse = queryDB(params,'FIN-0');
            myPromisse.then((resolve)=>{
                setLog(`COMPRA  ${newComp ? '' : 'Editada'}:  Prod:${pageScreen.querySelector('#edtBuscaProd').value}, Qtd:${params.qtd}, Custo Unit..:${params.custo_unit}`)
                closeModal('adm_compras')
            })

        }
    })

    pageFunc.start()

</script>