<template>
    <style> </style>    

    <div class="inline">
        <label for="edtTotal">Valor Pago</label>
        <input type="text" id="edtTotal" disabled>
    </div>
<!--
    <div class="inline">
        <label for="edtValRec">Recebido</label>
        <input type="text" id="edtValRec" disabled>
    </div>
-->    
    <div class="inline">
        <select id="cmbModoPgto">
            <option value="DIN" >Dinheiro</option>
            <option value="DEB">Cartão de Débito</option>
            <option value="CRD">Cartão de Crédito</option>
            <option value="PIX" selected>Pix</option>
            <option value="CHK">Cheque</option>
            <option value="VRF">Vale Refeição</option>
            <option value="SLD">Saldo Cliente</option>
            <option value="CRT">Cortesia</option>
        </select>
    </div>
    <div class="line">
        <div id="qr_code"></div>
    </div>
    <div class="line">
        <button id="btnReceber">Receber</button>
    </div>

</template>
<script>
    const pageData = main_data.caixa_encerra.data
    const pageFunc = main_data.caixa_encerra.func
    const pageScreen = document.querySelector('#card-caixa_encerra')

    function pageStart(){
        pageData.total = pageData.valor_rec < Number(pageData.saldo_dev) ? pageData.valor_rec : Number(pageData.saldo_dev)
        pageScreen.querySelector('#edtTotal').value = pageData.total.toString().money()
        loadPix()
    }

    function loadPix(){
        const data = new URLSearchParams()
        data.append("path",'/../config/data.json' )

        const myRequest = new Request("backend/loadFile.php",{
            method : "POST",
            body : data
        })

        const MyPromisse = new Promise((resolve,reject) =>{
            fetch(myRequest)
            .then(function (response){
                if (response.status === 200) { 
                    response.text()
                    .then((txt)=>{                    
                        pageData.dados = JSON.parse(txt) == null ? {} : JSON.parse(txt)
                        const pix = new Pix(pageData.dados.chave_pix,pageData.saldo_dev,pageData.dados.pix_nome,pageData.dados.pix_cidade,'pesqdourado')
                        pageData.pix = pix.payload()

                        const qrcode = new QRCode("qr_code", {
                            text: pageData.pix,
                            width: 300,
                            height: 300,
                            colorDark : "#000000",
                            colorLight : "#ffffff",
                            correctLevel : QRCode.CorrectLevel.H,
                            size : 150
                        })

                    })
                } else { 
                    reject(new Error("Houve algum erro na comunicação com o servidor"));
                } 
            })
        })

    }


    pageFunc.finaliza = ()=>{

        const params = new Object;
            params.id_comanda = pageData.id
            params.modo_pgto = pageScreen.querySelector('#cmbModoPgto').value
            params.valor_pgto = pageData.total

        const myPromisse = queryDB(params,'CXA-7');
        myPromisse.then((resolve)=>{
            setLog(`Venda lançada -> Comanda:${params.id_comanda}, Valor:${params.valor_pgto}, Modo:${params.modo_pgto}`)
            main_data.caixa_pdv.func.clear()
            closeModal('caixa_encerra')
        })
    }

    pageScreen.querySelector('#cmbModoPgto').addEventListener('change',()=>{
        const sel = pageScreen.querySelector('#cmbModoPgto').value
        pageScreen.querySelector('#qr_code').style.display = sel=='PIX' ? 'block' : 'none'
    })

    pageScreen.querySelector('#btnReceber').addEventListener('click',()=>{
        pageFunc.finaliza()
    })

    pageStart()

</script>