<template>
    <style>

        .w70{
            width: 70% !important;
        }
        
        .line-btn{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .line-btn button{
            margin: 0;
        }

        /*  MOBILE  */

        @media all and (max-width : 768px) {
            .mobiHide{
                display: none;
            }

            #card-caixa_comanda #cmbBusca{
                width: calc(100% - 130px);
            }

            #card-caixa_comanda #edtBusca{
                order: 7;
                width: 100%;
            }
        }

    </style>
    <div class="frm-comandas">
        <fieldset class="fds-busca caixa">
            <legend>Filtro</legend>
            <div class="inline">
<!--                
                <div class="line-ckb">
                    <label for="ckbAberta">Aberta</label>
                    <input type="checkbox" id="ckbAberta" checked>
                </div>
-->                
                <select id="cmbBusca">
                    <option value="nome" signal="LIKE" selected>Nome</option>
                    <option value="cpf" signal="LIKE">CPF</option>
                </select>
                <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca-com')">
                <div class="line-btn">
                    <button id="btnBusca-com" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
                    <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>                
                </div>

            </div>
        </fieldset>
        <table id="tblComandas"></table>

    </div>


</template>
<script>
    const pageData = main_data.caixa_comanda.data
    const pageFunc = main_data.caixa_comanda.func
    const pageScreen = document.querySelector('#card-caixa_comanda')
//    pageScreen.classList.add('fullscreen')


    pageFunc.fillComanda = ()=>{
        const tbl = pageScreen.querySelector('#tblComandas')
        tbl.innerHTML = ''
        const query = getVal('caixa')
        const params = new Object;
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
            params.dt_ini = '2000-01-01'
            params.dt_fin = '2100-12-31'
            params.aberta = 1
        const myPromisse = queryDB(params,'CXA-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Data|mobiHide,Hora|mobiHide,Cliente|w70,Valor')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'data|mobiHide,hora|mobiHide,nome,total','str,str,Upp,R$.')
            }
            
        })
    }

    pageFunc.novaComanda = (id,id_cliente,obs)=>{

    }

    pageFunc.buscaCliente = (cliente)=>{
        console.log(cliente)
        const params = new Object;
            params.id = 0
            params.id_cliente = cliente.id
            params.obs = ''
        const myPromisse = queryDB(params,'CXA-3');
        myPromisse.then((resolve)=>{
            setLog(`Nova Comanda -> Cliente:${cliente.nome}, CPF:${cliente.cpf}`)
            const json = JSON.parse(resolve)
        })        
    }

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('busca_cliente.html','pop-up','Selecione o Cliente',{'org':'caixa_comanda'},800)
    })

    pageScreen.querySelector('#btnBusca-com').addEventListener('click',()=>{
        pageFunc.fillComanda()
    })

    pageScreen.querySelector('#tblComandas').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        openHTML('caixa_view_comanda.html','pop-up',`Comanda - ${data.id.padStart(8,0)} - ${data.nome.toUpperCase()}`,data)
    })

    pageFunc.fillComanda()

</script>