<template>
    <style>

     
    </style>
    <div class="frm-comandas">
        <fieldset>
            <legend>Filtro</legend>
            <div class="inline">
                <select id="cmbBusca">
                    <option value="nome" signal="LIKE" selected>Nome</option>
                    <option value="cpf" signal="LIKE">CPF</option>
                </select>
                <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca-com')">
                <button id="btnBusca-com" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
                <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>            

            </div>
        </fieldset>
        <table id="tblComandas"></table>

    </div>


</template>
<script>
    const pageData = main_data.caixa_comanda.data
    const pageFunc = main_data.caixa_comanda.func
    const pageScreen = document.querySelector('#card-caixa_comanda')
//    pageScreen.classList.add('fullscreen')


    pageFunc.fillComanda = ()=>{
        const tbl = pageScreen.querySelector('#tblComandas')
        tbl.innerHTML = ''
//        const query = getVal('emp')
        const params = new Object;
            params.field = 'aberta'
            params.signal = '='
            params.value = '1'
            params.dt_ini = '2000-01-01'
            params.dt_fin = '2100-12-31'
        const myPromisse = queryDB(params,'CXA-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
console.log(json)            
            
            tbl.head('Data, Hora,Cliente')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'entrada,entrada,id_cliente','dat,hra,str')
            }
            
        })
    }

    pageFunc.novaComanda = (id,id_cliente,obs)=>{

    }

    pageFunc.buscaCliente = (cliente)=>{
        console.log(cliente)
        const params = new Object;
            params.id = 0
            params.id_cliente = cliente.id
            params.obs = ''
        const myPromisse = queryDB(params,'CXA-3');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
        })        
    }

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('busca_cliente.html','pop-up','Selecione o Cliente',{'org':'caixa_comanda'},800)
    })

    pageScreen.querySelector('#btnBusca-com').addEventListener('click',()=>{
        pageFunc.fillComanda()
    })

    pageFunc.fillComanda()

</script>