<template>
    <style>

        #btnPgto{
            display: none;
        }

     
    </style>
  
    <fieldset>
        <legend id="fds-legend"></legend>
        <div class="inline">
            <label for="edtQtd">Qtd</label>
            <input type="text" id="edtQtd" onkeyup="valFloat(this)" onfocus="this.select();" onkeypress="return getEnter(event, 'btnSave')"inputmode="decimal">
        </div>
        <div class="line">
            <button id="btnSave">Salvar</button>
            <button id="btnDel">Deletar</button>
            <button id="btnPgto">Baixar</button>
        </div>
    </fieldset>


</template>
<script>
    const pageData = main_data.caixa_view_item_comanda.data
    const pageFunc = main_data.caixa_view_item_comanda.func
    const pageScreen = document.querySelector('#card-caixa_view_item_comanda')

    function save(pgto){
        const params = new Object;
            params.id = pageData.id
            params.id_comanda = pageData.id_comanda
            params.id_prod = pageData.id_produto
            params.qtd = pageScreen.querySelector('#edtQtd').value
            params.pg = pgto
          
        const myPromisse = queryDB(params,'CXA-4');
        myPromisse.then((resolve)=>{
            setLog(`Item ${pgto == 0 ? 'Alterado' : 'Baixado'} -> Comanda:${params.id_comanda}, Prod:${pageData.descricao}, Qtd.:${params.qtd}`)
            pageFunc.end()
            closeModal('caixa_view_item_comanda')
        })
    }

    pageFunc.start = ()=>{
        pageScreen.querySelector('#fds-legend').innerHTML = pageData.descricao
        pageScreen.querySelector('#edtQtd').value = pageData.qtd
        pageScreen.querySelector('#edtQtd').focus()
        pageScreen.querySelector('#btnPgto').style.display = pageData.org == 'caixa_pdv' ? 'block' : 'none'
    }

    pageFunc.end = ()=>{
        if(main_data.hasOwnProperty('caixa_view_comanda')){
            main_data.caixa_view_comanda.func.fillItemComanda()
        }
        if(main_data.hasOwnProperty('caixa_comanda')){
            main_data.caixa_comanda.func.fillComanda()
        }
        if(main_data.hasOwnProperty('caixa_pdv')){
            main_data.caixa_pdv.func.fillItemComanda()
        }
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        save(0)
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if(confirm('Deseja realmente deletar este ítem desta comanda?')){
            const params = new Object;
                params.id = pageData.id
                params.id_comanda = pageData.id_comanda
            
            const myPromisse = queryDB(params,'CXA-6');
            myPromisse.then((resolve)=>{
                setLog(`Item Deletado -> Comanda:${params.id_comanda}, Prod:${pageData.descricao}, Qtd.:${pageData.qtd}`)
                pageFunc.end()
            })
        }
        closeModal('caixa_view_item_comanda')
    })

    pageScreen.querySelector('#btnPgto').addEventListener('click',()=>{
        if(confirm('Receber este ítem separado?')){
            save(1)
        }
    })

    pageFunc.start()

</script>