<template>
    <style>
        .fds-itens{
            display: flex;
            padding: 10px;
            flex-wrap: wrap;
            gap: 15px;

        }
     
        #qr_code{
            border: solid 2px #000000;
            cursor: pointer;
            padding: 3px;
            display: none;
        }

        #qr_code:hover{
            border: solid 2px #FF0000;
            
        }

    </style>
  
    <fieldset>
        <legend>Cliente</legend>
        <table id="tblCliente"></table>
        <div class="line">
            <div id="qr_code"></div>
            <button id="btnPrint"><span class="mdi mdi-printer-outline"></span> Comanda</button>
        </div>
    </fieldset>
    <fieldset class="fds-itens">
        <legend>Ítens</legend>
        <table id="tblItens"></table>
        <div class="line">
            <button id="btnNovo" disabled><span class="mdi mdi-plus-thick"></span> Adicionar Produto</button> 
        </div>
    </fieldset>

</template>
<script>
    const pageData = main_data.caixa_view_comanda.data
    const pageFunc = main_data.caixa_view_comanda.func
    const pageScreen = document.querySelector('#card-caixa_view_comanda')

    pageFunc.start = ()=>{
        pageFunc.fillItemComanda()
        const tbl = pageScreen.querySelector('#tblCliente')
        tbl.head('Nome,CPF|mobiHide,Telefone,Saldo')
        tbl.plot(pageData,'nome,cpf|mobiHide,cel|,saldo|edtSaldo','Upp,cpf,tel,R$.')
        
        pageScreen.querySelector('#btnNovo').disabled = !Number(pageData.aberta)


        const qrcode = new QRCode("qr_code", {
            text:`https://www.flexibus.com.br/pesqueiro/index.html?comanda=${pageData.hash_}`,
            width: 256,
            height: 256,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H,
            size : 300
        });

//        qrcode.makeCode(`https://www.flexibus.com.br/pesqueiro/index.html?comanda=${pageData.hash_}`)

    }

    pageFunc.fillItemComanda = ()=>{
        const tbl = pageScreen.querySelector('#tblItens')
        tbl.innerHTML = ''
        const params = new Object;
            params.id_comanda = pageData.id
        const myPromisse = queryDB(params,'CXA-5');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
           
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Descrição|w70, Und.|mobiHide,Qtd.,Preço Unt.|mobiHide,Sub_total,PG|mobiHide')
            let tot = 0
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'descricao|w70,und|mobiHide,qtd,preco|mobiHide,sub_total,pago|mobiHide','Upp,Upp,str,R$.,R$.,ico 0=mdi-close-thick 1=mdi-check-bold ')
                tot += parseFloat(json[i].sub_total)
            }
            const tr = document.createElement('tr')
            tr.innerHTML = `<th colspan="2" class="mobiHide"></th><th></th><th>Total</th><th>R$${getFloat(tot.toFixed(2))}</th><th class="mobiHide"></th>`
            tbl.appendChild(tr)
        })
    }

    pageFunc.buscaProd = (prod)=>{
        prod.qtd = prompt('Quantidade:',1)

        if(prod.qtd > 0){
            const params = new Object;
                params.id = 0
                params.id_comanda = pageData.id
                params.id_prod = prod.id
                params.qtd = prod.qtd
                params.pg = 0
            
            const myPromisse = queryDB(params,'CXA-4');
            myPromisse.then((resolve)=>{
                setLog(`Item Adicionado -> Comanda:${params.id_comanda}, Prod:${prod.descricao}, Qtd.:${prod.qtd}`)
                pageFunc.fillItemComanda()
                main_data.caixa_comanda.func.fillComanda()
            })
        }
    }

    pageScreen.querySelector('#qr_code').addEventListener('click',()=>{
        comanda_virual(pageData)
    })

    pageScreen.querySelector('#btnPrint').addEventListener('click',()=>{
        comanda_virual(pageData)
    })


    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        pageData.org = 'caixa_view_comanda'
        openHTML('busca_prod.html','pop-up',`Adicionar produto`,pageData,600)
    })

    pageScreen.querySelector('#tblItens').addEventListener('click',(e)=>{
        const row = e.target.parentNode
        if(row.rowIndex > 0 && row.tagName == 'TR' && pageData.aberta == '1'){
            row.data.org = 'caixa_view_comanda'
            openHTML('caixa_view_item_comanda.html','pop-up',`Comanda - ${pageData.id.padStart(8,0)} - ${pageData.nome.toUpperCase()}`,row.data,450)
        }
    })

    pageFunc.start()

</script>