<template>
    <style></style>
  

    <fieldset>
        <legend>Pagamento Parcial</legend>
        <div class="inline">
            <label>Total</label>
            <input type="text" id="edtTotal" readonly>
        </div>

        <div class="inline">
            <label for="edtValRec">Valor R$</label>
            <input type="text" id="edtValRec" value="0" onfocus="this.select();" onkeyup="valFloat(this)" onkeypress="return event.which== 13 ? troco('edtTotal') : null">
        </div>

        <div class="inline">
            <label for="cmbModoPgto">Modo Pgto.</label>
            <select id="cmbModoPgto">
                <option value="DIN" selected>Dinheiro</option>
                <option value="DEB">Cartão de Débito</option>
                <option value="CRD">Cartão de Crédito</option>
                <option value="PIX">Pix</option>
                <option value="CHK">Cheque</option>
                <option value="VRF">Vale Refeição</option>
                <option value="SLD">Saldo Cliente</option>
                <option value="CRT">Cortesia</option>
            </select>
        </div>

        <div class="line">
            <button id="btnReceber">Receber</button>
        </div>

    </fieldset>


</template>
<script>
    const pageData = main_data.caixa_pg_parcial.data
    const pageFunc = main_data.caixa_pg_parcial.func
    const pageScreen = document.querySelector('#card-caixa_pg_parcial')
    
    pageStart()
    
    function pageStart(){
        pageScreen.querySelector('#edtTotal').value = 'R$' + parseFloat(pageData.saldo_dev).toFixed(2)
    }
// ID,VALOR,DESCRICAO,MODO,ENTRADA,ID_COMANDA
    pageScreen.querySelector('#btnReceber').addEventListener('click',()=>{
        if(confirm(`Confirma o recebimento de R$${pageScreen.querySelector('#edtValRec').value} da comanda ${pageData.id}?`)){
            const params = new Object;
                params.id = 0
                params.valor = pageScreen.querySelector('#edtValRec').value
                params.desc = `Pgto parcial, comanda ${pageData.id}`
                params.modo_pgto = pageScreen.querySelector('#cmbModoPgto').value
                params.entrada = 1
                params.id_comanda = pageData.id
                
            const myPromisse = queryDB(params,'FIN-2');
            myPromisse.then((resolve)=>{
                setLog(`Pgto Parcial -> Comanda:${params.id_comanda}, Valor:${params.valor}, Modo:${params.modo_pgto}`)
                main_data.caixa_pdv.func.clear()
                closeModal('caixa_pg_parcial')
            })
        }
    })

</script>