<template>
    <style>
        .title{
            text-align: center;
            font-size: 1.8em;
            font-weight: bold;
        }

        .preco{
            font-size: 1.5em;
            font-weight: bold;
        }
     
        .desc{
            font-size: 1.2em;
        }

        #btnPrint{
            display: flex;
            font-size: 2em;
            width: 60px;
            height: 60px;
        }

        /*  MOBILE  */

        @media all and (max-width : 768px) {
            #btnPrint{
                display: none;
            }
        }

    </style>
    <table id="tblCardapio"></table>
    <div class="line">
        <button id="btnPrint" class="btn-round"><span class="mdi mdi-printer-outline"></span></button>
    </div>
</template>
<script>

    const pageData = main_data.cli_cardapio.data
    const pageFunc = main_data.cli_cardapio.func
    const pageScreen = document.querySelector('#card-cli_cardapio')
     
    pageFunc.fillCardapio = ()=>{

        const myPromisse = queryDB({},'CLI-1');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageData.cardapio = json
            const tbl = pageScreen.querySelector('#tblCardapio')
            tbl.head('')
            let tipo = ''
//            pageScreen.querySelector('#btnPrint').style.display = 'flex'

            for(let i=0; i<json.length; i++){
                if(json[i].tipo != tipo){
                    tipo = json[i].tipo
                    const tr = document.createElement('tr')
                    tr.innerHTML = `<th colspan="3" class="title">${json[i].tipo.toUpperCase()}</th>`
                    tbl.appendChild(tr)
                }
                tbl.plot(json[i],'descricao|desc,preco|preco','Upp,R$.')
            }
        })
    }

    pageScreen.querySelector('#tblCardapio').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        data.filename = `assets/prod/prod_${data.id}.jpg`
        openHTML('tool_show_img.html','pop-up',data.descricao,data,400)        
    })

    pageScreen.querySelector('#btnPrint').addEventListener('click',()=>{
        cardapio(pageData.cardapio)
    })

    pageFunc.fillCardapio()

</script>