<template>
    <style>
        .frm-comanda{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: aliceblue;
            position: fixed;
            top: 0;
            overflow-y: scroll;
        }

        .top{
            display: flex;
            justify-content: center;
            margin: 15px;
        }

        .cliente, .comanda{
            display: flex;
            flex-direction: column;
            padding-left: 10px;
        }

        .itens{
            margin-bottom: 60px;
        }

    </style>
  
    <div class="frm-comanda">
        <div class="top">
            <img src="assets/logo.png" width="200">
        </div>
        <fieldset class="cliente">
            <legend>Cliente</legend>
            <label id="cli-nome"></label>
            <label id="cli-cel"></label>
            <label id="cli-saldo"></label>
            </fieldset>
        <fieldset class="comanda">
            <legend>Comanda</legend>
            <label id="com-num"></label>
            <label id="com-data"></label>
            <label id="com-hora"></label>    
            <label id="com-aberta"></label>
            <label id="com-"></label>
        </fieldset>
        <fieldset class="itens">
            <legend>Ítens</legend>
            <table id="tblItens"></table>
        </fieldset>

    </div>

</template>
<script>

    const comanda = new URLSearchParams(window.location.search).get('token')
     
    fillComanda()

    function fillComanda(){

        if(comanda){
            const params = new Object;
                params.comanda = comanda
            const myPromisse = queryDB(params,'CLI-0');
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                const tbl = document.querySelector('#tblItens')
                if(json.length >0){
                    document.querySelector('#cli-nome').innerHTML = 'Nome: '+json[0].nome.toUpperCase()
                    document.querySelector('#cli-cel').innerHTML = 'Cel: '+getFone(json[0].cel)
                    document.querySelector('#cli-saldo').innerHTML = 'Saldo: R$'+parseFloat(json[0].saldo).toFixed(2)

                    document.querySelector('#com-num').innerHTML = 'Num.: '+json[0].id.padStart(10,0)
                    document.querySelector('#com-data').innerHTML = 'Data: '+json[0].data+' '+json[0].hora
                    document.querySelector('#com-aberta').innerHTML = 'Status: '+ (json[0].aberta == '1' ? 'Aberta' : 'Fechada')

                    tbl.head('Desc.,Qtd.,Unit.,Tot.')
                    for(let i=0; i<json.length; i++){
                        tbl.plot(json[i],'descricao,qtd,preco,sub_total','Upp,str,R$.,R$.')
                    }
                    const tr = document.createElement('tr')
                    tr.innerHTML = `<th colspan="2"></th><th>Total</th><th>R$${json[0].total}</th>`
                    tbl.appendChild(tr)

                }else{
                    tbl.head('COMANDA VAZIA!!!')
                }
            })
        }else{
            alert('Código inválido, tente novamente.')
        }

    }




</script>