<template>
    <style>

     
    </style>

    <div id="reader"></div>
    <div id="qr-reader" style="width: 300px;"></div>

    <audio id="beep">
        <source src="../assets/sounds/beep.wav" type="audio/wav">
    </audio>

</template>
<script>

    const pageData = main_data.tool_scan_qrcode.data
    const pageFunc = main_data.tool_scan_qrcode.func
    const pageScreen = document.querySelector('#card-tool_scan_qrcode')
    const beep =  new Audio('assets/sounds/beep.wav')
    
    pageFunc.fillComanda = (scan)=>{

        const token = scan.split('=')[1]
        if(token != undefined){
            const params = new Object;
                params.field = 'token'
                params.signal = 'LIKE'
                params.value = `'${token}%'`
                params.dt_ini = '2000-01-01'
                params.dt_fin = '2100-12-31'
                params.aberta = 0
            const myPromisse = queryDB(params,'CXA-0');
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                if(json.length == 1){
                    closeModal('caixa_view_comanda')
                    openHTML('caixa_view_comanda.html','pop-up',`Comanda - ${json[0].id.padStart(8,0)} - ${json[0].nome.toUpperCase()}`,json[0])
                }else{
                    alert('Comanda não registrada!')
                }
            })
        }else{
            alert('Código inválido, tente novamente.')
        }

    }

    function onScanSuccess(decodedText, decodedResult) {
        beep.play()
        console.log(decodedText)
        pageFunc.fillComanda(decodedText)
        closeModal('tool_scan_qrcode')
        qr.clear()
    }

    function onScanError(errorMessage) {
        alert('Erro de leitura, tente novamente!')
    }

    const qr = new Html5QrcodeScanner("reader", {fps: 10, qrbox: 250,rememberLastUsedCamera: 0})
    qr.render(onScanSuccess)
    console.log(pageScreen.querySelector('.close'))

    pageScreen.querySelector('.close').removeEventListener('click',close)

//    

pageScreen.querySelector('.close').addEventListener('click',()=>{
    pageScreen.querySelector('#html5-qrcode-button-camera-stop').click()
    closeModal('tool_scan_qrcode')
})

</script>